body {
  margin: 0;
}

header {
  height: 200px;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

div {
  width: 50px;
  height: 100px;
  background: skyblue;
  position: absolute;
  /* headerの50%の位置からdivの半分の高さを引く。 */
  /* top: calc(50% - 20px); */
  /* headerの50%の位置からdivの半分の幅を引く。 */
  /* left: calc(50% - 50px); */
}